@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

.DetailCollege {
  height: auto;
}

.DetailCollege h1 {
  font-family: "Dancing Script", cursive;
  margin-top: 5px;
  margin-bottom: 5px;
}

.DetailCollege h1:hover {
  text-decoration: underline;
}

.DetailCollege h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.Statistics {
  margin: auto;
  height: 80vh;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
}
